body {
    background-color: rgb(27, 25, 25);
    text-align: center;
    color: white;
}
.sol {
    background-color: brown;
    text-align: left;
}
.resim {
    width: 100%;
    max-width: 600px;
    height: auto;
}
.buton{

    background-color: green;
  
    border: none;
  
    color: white;
  
    padding: 15px 32px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 16px;
  
    margin: 4px 2px;
  
    cursor: pointer;
}
.he{

    background-color: #41403f;

    color: white;
    width: 85%;
    max-width: 500px;
    height: 400px;
  
    padding: 15px 32px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 15px;
  
    margin: 4px 2px;
  
    cursor: default;
}
.deneme {
    text-align: right;
}

.kırmızıbuton{

    background-color: red;
  
    border: none;
  
    color: white;
  
    padding: 15px 32px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 16px;
  
    margin: 4px 2px;
  
    cursor: pointer;
}
.hakkımda{

    background-color: #41403f;

    color: white;
    width: 85%;
    max-width: 565px;
    height: fit-content;
  
    padding: 15px 32px;
  
    text-align: left;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 15px;
  
    margin: 4px 2px;
  
    cursor: default;
}
.baslık{
    text-align: center;
}
.içerik{

    background-color: #41403f;
    color: white;
    width: 85%;
    max-width: 1000px;
    height;
  
    padding: 15px 32px;
  
    text-align: center;
  
    text-decoration: none;
  
    display: inline-block;
  
    font-size: 20px;
  
    margin: 4px 2px;
  
    cursor: default;
}
.youtube-res {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.youtube-res iframe,
.youtube-res object,
.youtube-res embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sosyalmedya{
    color: cornflowerblue;
}